/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    color: #444;
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Category and Subcategory List Styles */
ul li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Product List Styles */
.product-list li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px;
}

.product-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-list img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-list h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.product-list p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.product-list p.price {
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}
